.vscode/settings.json
kafka-producer/obj/kafka-producer.csproj.nuget.dgspec.json
kafka-producer/obj/kafka-producer.csproj.nuget.g.props
kafka-producer/obj/kafka-producer.csproj.nuget.g.targets
kafka-producer/obj/project.assets.json
kafka-producer/obj/project.nuget.cache
kafka-producer/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
kafka-producer/obj/Debug/net8.0/kafka-producer.AssemblyInfo.cs
kafka-producer/obj/Debug/net8.0/kafka-producer.AssemblyInfoInputs.cache
kafka-producer/obj/Debug/net8.0/kafka-producer.assets.cache
kafka-producer/obj/Debug/net8.0/kafka-producer.csproj.AssemblyReference.cache
kafka-producer/obj/Debug/net8.0/kafka-producer.GeneratedMSBuildEditorConfig.editorconfig
kafka-producer/obj/Debug/net8.0/kafka-producer.GlobalUsings.g.cs
kafka-producer/bin/Debug/net8.0/appsettings.Development.json
kafka-producer/bin/Debug/net8.0/appsettings.json
kafka-producer/bin/Debug/net8.0/Confluent.Kafka.dll
kafka-producer/bin/Debug/net8.0/kafka-producer.deps.json
kafka-producer/bin/Debug/net8.0/kafka-producer.dll
kafka-producer/bin/Debug/net8.0/kafka-producer.exe
kafka-producer/bin/Debug/net8.0/kafka-producer.pdb
kafka-producer/bin/Debug/net8.0/kafka-producer.runtimeconfig.json
kafka-producer/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
kafka-producer/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
kafka-producer/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
kafka-producer/bin/Debug/net8.0/Microsoft.OpenApi.dll
kafka-producer/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
kafka-producer/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
kafka-producer/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
kafka-producer/bin/Debug/net8.0/runtimes/linux-arm64/native/librdkafka.so
kafka-producer/bin/Debug/net8.0/runtimes/linux-x64/native/alpine-librdkafka.so
kafka-producer/bin/Debug/net8.0/runtimes/linux-x64/native/centos6-librdkafka.so
kafka-producer/bin/Debug/net8.0/runtimes/linux-x64/native/centos7-librdkafka.so
kafka-producer/bin/Debug/net8.0/runtimes/linux-x64/native/librdkafka.so
kafka-producer/bin/Debug/net8.0/runtimes/osx-arm64/native/librdkafka.dylib
kafka-producer/bin/Debug/net8.0/runtimes/osx-x64/native/librdkafka.dylib
kafka-producer/bin/Debug/net8.0/runtimes/win-x64/native/libcrypto-3-x64.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x64/native/libcurl.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x64/native/librdkafka.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x64/native/librdkafkacpp.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x64/native/libssl-3-x64.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x64/native/msvcp140.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x64/native/vcruntime140.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x64/native/zlib1.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x64/native/zstd.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x86/native/libcrypto-3.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x86/native/libcurl.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x86/native/librdkafka.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x86/native/librdkafkacpp.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x86/native/libssl-3.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x86/native/msvcp140.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x86/native/vcruntime140.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x86/native/zlib1.dll
kafka-producer/bin/Debug/net8.0/runtimes/win-x86/native/zstd.dll
kafka-producer/bin/Release/net8.0/linux-x64/alpine-librdkafka.so
kafka-producer/bin/Release/net8.0/linux-x64/appsettings.Development.json
kafka-producer/bin/Release/net8.0/linux-x64/appsettings.json
kafka-producer/bin/Release/net8.0/linux-x64/centos6-librdkafka.so
kafka-producer/bin/Release/net8.0/linux-x64/centos7-librdkafka.so
kafka-producer/bin/Release/net8.0/linux-x64/Confluent.Kafka.dll
kafka-producer/bin/Release/net8.0/linux-x64/kafka-producer
kafka-producer/bin/Release/net8.0/linux-x64/kafka-producer.deps.json
kafka-producer/bin/Release/net8.0/linux-x64/kafka-producer.dll
kafka-producer/bin/Release/net8.0/linux-x64/kafka-producer.pdb
kafka-producer/bin/Release/net8.0/linux-x64/kafka-producer.runtimeconfig.json
kafka-producer/bin/Release/net8.0/linux-x64/librdkafka.so
kafka-producer/bin/Release/net8.0/linux-x64/Microsoft.AspNetCore.OpenApi.dll
kafka-producer/bin/Release/net8.0/linux-x64/Microsoft.EntityFrameworkCore.Abstractions.dll
kafka-producer/bin/Release/net8.0/linux-x64/Microsoft.EntityFrameworkCore.dll
kafka-producer/bin/Release/net8.0/linux-x64/Microsoft.OpenApi.dll
kafka-producer/bin/Release/net8.0/linux-x64/Swashbuckle.AspNetCore.Swagger.dll
kafka-producer/bin/Release/net8.0/linux-x64/Swashbuckle.AspNetCore.SwaggerGen.dll
kafka-producer/bin/Release/net8.0/linux-x64/Swashbuckle.AspNetCore.SwaggerUI.dll
kafka-producer/bin/Release/net8.0/linux-x64/publish/alpine-librdkafka.so
kafka-producer/bin/Release/net8.0/linux-x64/publish/appsettings.Development.json
kafka-producer/bin/Release/net8.0/linux-x64/publish/appsettings.json
kafka-producer/bin/Release/net8.0/linux-x64/publish/centos6-librdkafka.so
kafka-producer/bin/Release/net8.0/linux-x64/publish/centos7-librdkafka.so
kafka-producer/bin/Release/net8.0/linux-x64/publish/Confluent.Kafka.dll
kafka-producer/bin/Release/net8.0/linux-x64/publish/kafka-producer
kafka-producer/bin/Release/net8.0/linux-x64/publish/kafka-producer.deps.json
kafka-producer/bin/Release/net8.0/linux-x64/publish/kafka-producer.dll
kafka-producer/bin/Release/net8.0/linux-x64/publish/kafka-producer.pdb
kafka-producer/bin/Release/net8.0/linux-x64/publish/kafka-producer.runtimeconfig.json
kafka-producer/bin/Release/net8.0/linux-x64/publish/librdkafka.so
kafka-producer/bin/Release/net8.0/linux-x64/publish/Microsoft.AspNetCore.OpenApi.dll
kafka-producer/bin/Release/net8.0/linux-x64/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
kafka-producer/bin/Release/net8.0/linux-x64/publish/Microsoft.EntityFrameworkCore.dll
kafka-producer/bin/Release/net8.0/linux-x64/publish/Microsoft.OpenApi.dll
kafka-producer/bin/Release/net8.0/linux-x64/publish/Swashbuckle.AspNetCore.Swagger.dll
kafka-producer/bin/Release/net8.0/linux-x64/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
kafka-producer/bin/Release/net8.0/linux-x64/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
kafka-consumer/bin/Debug/net8.0/appsettings.Development.json
kafka-consumer/bin/Debug/net8.0/appsettings.json
kafka-consumer/bin/Debug/net8.0/Confluent.Kafka.dll
kafka-consumer/bin/Debug/net8.0/kafka-consumer.deps.json
kafka-consumer/bin/Debug/net8.0/kafka-consumer.dll
kafka-consumer/bin/Debug/net8.0/kafka-consumer.exe
kafka-consumer/bin/Debug/net8.0/kafka-consumer.pdb
kafka-consumer/bin/Debug/net8.0/kafka-consumer.runtimeconfig.json
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Hosting.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Logging.Debug.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventLog.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventSource.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
kafka-consumer/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
kafka-consumer/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
kafka-consumer/bin/Debug/net8.0/runtimes/linux-arm64/native/librdkafka.so
kafka-consumer/bin/Debug/net8.0/runtimes/linux-x64/native/alpine-librdkafka.so
kafka-consumer/bin/Debug/net8.0/runtimes/linux-x64/native/centos6-librdkafka.so
kafka-consumer/bin/Debug/net8.0/runtimes/linux-x64/native/centos7-librdkafka.so
kafka-consumer/bin/Debug/net8.0/runtimes/linux-x64/native/librdkafka.so
kafka-consumer/bin/Debug/net8.0/runtimes/osx-arm64/native/librdkafka.dylib
kafka-consumer/bin/Debug/net8.0/runtimes/osx-x64/native/librdkafka.dylib
kafka-consumer/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x64/native/libcrypto-3-x64.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x64/native/libcurl.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x64/native/librdkafka.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x64/native/librdkafkacpp.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x64/native/libssl-3-x64.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x64/native/msvcp140.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x64/native/vcruntime140.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x64/native/zlib1.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x64/native/zstd.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x86/native/libcrypto-3.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x86/native/libcurl.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x86/native/librdkafka.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x86/native/librdkafkacpp.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x86/native/libssl-3.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x86/native/msvcp140.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x86/native/vcruntime140.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x86/native/zlib1.dll
kafka-consumer/bin/Debug/net8.0/runtimes/win-x86/native/zstd.dll
kafka-consumer/bin/Release/net8.0/linux-x64/alpine-librdkafka.so
kafka-consumer/bin/Release/net8.0/linux-x64/appsettings.Development.json
kafka-consumer/bin/Release/net8.0/linux-x64/appsettings.json
kafka-consumer/bin/Release/net8.0/linux-x64/centos6-librdkafka.so
kafka-consumer/bin/Release/net8.0/linux-x64/centos7-librdkafka.so
kafka-consumer/bin/Release/net8.0/linux-x64/Confluent.Kafka.dll
kafka-consumer/bin/Release/net8.0/linux-x64/kafka-consumer
kafka-consumer/bin/Release/net8.0/linux-x64/kafka-consumer.deps.json
kafka-consumer/bin/Release/net8.0/linux-x64/kafka-consumer.dll
kafka-consumer/bin/Release/net8.0/linux-x64/kafka-consumer.pdb
kafka-consumer/bin/Release/net8.0/linux-x64/kafka-consumer.runtimeconfig.json
kafka-consumer/bin/Release/net8.0/linux-x64/librdkafka.so
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Configuration.Abstractions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Configuration.Binder.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Configuration.CommandLine.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Configuration.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Configuration.FileExtensions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Configuration.Json.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Configuration.UserSecrets.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.DependencyInjection.Abstractions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.DependencyInjection.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Diagnostics.Abstractions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Diagnostics.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.FileProviders.Abstractions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.FileProviders.Physical.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.FileSystemGlobbing.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Hosting.Abstractions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Hosting.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Logging.Abstractions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Logging.Configuration.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Logging.Console.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Logging.Debug.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Logging.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Logging.EventLog.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Logging.EventSource.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Options.ConfigurationExtensions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Options.dll
kafka-consumer/bin/Release/net8.0/linux-x64/Microsoft.Extensions.Primitives.dll
kafka-consumer/bin/Release/net8.0/linux-x64/System.Diagnostics.EventLog.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/alpine-librdkafka.so
kafka-consumer/bin/Release/net8.0/linux-x64/publish/appsettings.Development.json
kafka-consumer/bin/Release/net8.0/linux-x64/publish/appsettings.json
kafka-consumer/bin/Release/net8.0/linux-x64/publish/centos6-librdkafka.so
kafka-consumer/bin/Release/net8.0/linux-x64/publish/centos7-librdkafka.so
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Confluent.Kafka.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/kafka-consumer
kafka-consumer/bin/Release/net8.0/linux-x64/publish/kafka-consumer.deps.json
kafka-consumer/bin/Release/net8.0/linux-x64/publish/kafka-consumer.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/kafka-consumer.pdb
kafka-consumer/bin/Release/net8.0/linux-x64/publish/kafka-consumer.runtimeconfig.json
kafka-consumer/bin/Release/net8.0/linux-x64/publish/librdkafka.so
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Configuration.Abstractions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Configuration.Binder.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Configuration.CommandLine.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Configuration.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Configuration.FileExtensions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Configuration.Json.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Configuration.UserSecrets.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.DependencyInjection.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Diagnostics.Abstractions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Diagnostics.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.FileProviders.Abstractions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.FileProviders.Physical.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.FileSystemGlobbing.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Hosting.Abstractions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Hosting.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Logging.Abstractions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Logging.Configuration.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Logging.Console.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Logging.Debug.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Logging.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Logging.EventLog.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Logging.EventSource.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Options.ConfigurationExtensions.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Options.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/Microsoft.Extensions.Primitives.dll
kafka-consumer/bin/Release/net8.0/linux-x64/publish/System.Diagnostics.EventLog.dll
kafka-consumer/obj/kafka-consumer.csproj.nuget.dgspec.json
kafka-consumer/obj/kafka-consumer.csproj.nuget.g.props
kafka-consumer/obj/kafka-consumer.csproj.nuget.g.targets
kafka-consumer/obj/project.assets.json
kafka-consumer/obj/project.nuget.cache
kafka-consumer/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
kafka-consumer/obj/Debug/net8.0/apphost.exe
kafka-consumer/obj/Debug/net8.0/kafka-co.3784C895.Up2Date
kafka-consumer/obj/Debug/net8.0/kafka-consumer.AssemblyInfo.cs
kafka-consumer/obj/Debug/net8.0/kafka-consumer.AssemblyInfoInputs.cache
kafka-consumer/obj/Debug/net8.0/kafka-consumer.assets.cache
kafka-consumer/obj/Debug/net8.0/kafka-consumer.csproj.AssemblyReference.cache
kafka-consumer/obj/Debug/net8.0/kafka-consumer.csproj.CoreCompileInputs.cache
kafka-consumer/obj/Debug/net8.0/kafka-consumer.csproj.FileListAbsolute.txt
kafka-consumer/obj/Debug/net8.0/kafka-consumer.dll
kafka-consumer/obj/Debug/net8.0/kafka-consumer.GeneratedMSBuildEditorConfig.editorconfig
kafka-consumer/obj/Debug/net8.0/kafka-consumer.genruntimeconfig.cache
kafka-consumer/obj/Debug/net8.0/kafka-consumer.GlobalUsings.g.cs
kafka-consumer/obj/Debug/net8.0/kafka-consumer.pdb
kafka-consumer/obj/Debug/net8.0/kafka-consumer.sourcelink.json
kafka-consumer/obj/Debug/net8.0/ref/kafka-consumer.dll
kafka-consumer/obj/Debug/net8.0/refint/kafka-consumer.dll
kafka-consumer/obj/Release/net8.0/linux-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
kafka-consumer/obj/Release/net8.0/linux-x64/apphost
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-co.3784C895.Up2Date
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-consumer.AssemblyInfo.cs
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-consumer.AssemblyInfoInputs.cache
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-consumer.assets.cache
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-consumer.csproj.AssemblyReference.cache
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-consumer.csproj.CoreCompileInputs.cache
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-consumer.csproj.FileListAbsolute.txt
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-consumer.dll
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-consumer.GeneratedMSBuildEditorConfig.editorconfig
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-consumer.genruntimeconfig.cache
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-consumer.GlobalUsings.g.cs
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-consumer.pdb
kafka-consumer/obj/Release/net8.0/linux-x64/kafka-consumer.sourcelink.json
kafka-consumer/obj/Release/net8.0/linux-x64/PublishOutputs.c9d943ef39.txt
kafka-consumer/obj/Release/net8.0/linux-x64/ref/kafka-consumer.dll
kafka-consumer/obj/Release/net8.0/linux-x64/refint/kafka-consumer.dll
kafka-producer/obj/Debug/net8.0/apphost.exe
kafka-producer/obj/Debug/net8.0/kafka-pr.C6482F7E.Up2Date
kafka-producer/obj/Debug/net8.0/kafka-producer.csproj.CoreCompileInputs.cache
kafka-producer/obj/Debug/net8.0/kafka-producer.csproj.FileListAbsolute.txt
kafka-producer/obj/Debug/net8.0/kafka-producer.dll
kafka-producer/obj/Debug/net8.0/kafka-producer.genruntimeconfig.cache
kafka-producer/obj/Debug/net8.0/kafka-producer.MvcApplicationPartsAssemblyInfo.cache
kafka-producer/obj/Debug/net8.0/kafka-producer.MvcApplicationPartsAssemblyInfo.cs
kafka-producer/obj/Debug/net8.0/kafka-producer.pdb
kafka-producer/obj/Debug/net8.0/kafka-producer.sourcelink.json
kafka-producer/obj/Debug/net8.0/staticwebassets.build.json
kafka-producer/obj/Debug/net8.0/ref/kafka-producer.dll
kafka-producer/obj/Debug/net8.0/refint/kafka-producer.dll
kafka-producer/obj/Debug/net8.0/staticwebassets/msbuild.build.kafka-producer.props
kafka-producer/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.kafka-producer.props
kafka-producer/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.kafka-producer.props
kafka-producer/obj/Release/net8.0/linux-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
kafka-producer/obj/Release/net8.0/linux-x64/apphost
kafka-producer/obj/Release/net8.0/linux-x64/kafka-pr.C6482F7E.Up2Date
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.AssemblyInfo.cs
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.AssemblyInfoInputs.cache
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.assets.cache
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.csproj.AssemblyReference.cache
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.csproj.CoreCompileInputs.cache
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.csproj.FileListAbsolute.txt
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.dll
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.GeneratedMSBuildEditorConfig.editorconfig
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.genruntimeconfig.cache
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.GlobalUsings.g.cs
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.MvcApplicationPartsAssemblyInfo.cache
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.MvcApplicationPartsAssemblyInfo.cs
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.pdb
kafka-producer/obj/Release/net8.0/linux-x64/kafka-producer.sourcelink.json
kafka-producer/obj/Release/net8.0/linux-x64/PublishOutputs.baa5103ed5.txt
kafka-producer/obj/Release/net8.0/linux-x64/staticwebassets.build.json
kafka-producer/obj/Release/net8.0/linux-x64/staticwebassets.publish.json
kafka-producer/obj/Release/net8.0/linux-x64/ref/kafka-producer.dll
kafka-producer/obj/Release/net8.0/linux-x64/refint/kafka-producer.dll
kafka-producer/obj/Release/net8.0/linux-x64/staticwebassets/msbuild.build.kafka-producer.props
kafka-producer/obj/Release/net8.0/linux-x64/staticwebassets/msbuild.buildMultiTargeting.kafka-producer.props
kafka-producer/obj/Release/net8.0/linux-x64/staticwebassets/msbuild.buildTransitive.kafka-producer.props
